<div th:fragment="noteForm (id, title, body, submit)">
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" name="title" placeholder="Title" th:value="${title}">
    <textarea name="body" id="" cols="30" rows="10" placeholder="Body" th:text="${body}"></textarea>
    <input type="submit" th:value="${submit}">
</div>

<div th:fragment="userForm (id, username, submit)">
    <input type="hidden" name="id" th:value="${id}">
    <input type="text" name="username" placeholder="Username" th:value="${username}">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" th:value="${submit}">
</div>

<div th:fragment="navBar">
    <a th:href="@{/users/{id} (id=${userId})}" sec:authentication="name"></a>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>