<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div th:replace="~{fragments :: navBar}"></div>
    <h1>Notes</h1>
    <a th:href="@{/notes/create}">Create a note</a>
    <ul th:each="note : ${notes}">
        <li>
            <a th:href="@{/notes/{id}(id=${note.id})}" th:text="${note.title}"></a>
        </li>
    </ul>
</body>
</html>