<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{authenticatedLayout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|Note - ${user.username} - update account|"></title>
</head>
<body>
    <div layout:fragment="content">

        <div th:replace="fragments:: toolBar(~{fragments :: backButton}, ~{fragments :: deleteButton('/users/delete', ${user.id})  })"></div>

        <div th:replace="fragments :: alert(${messageType}, ${message})"></div>

        <form th:action="@{/users/update}" method="post">
            <div th:replace="~{fragments :: userForm(${user.id}, ${user.username}, 'Update account')}"></div>
        </form>
    </div>
</body>
</html>